.Button {
    cursor: pointer;
    color: var(--secondary-color);
}

.plain {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outlined {
    padding: 10px 15px;
    border: 1px solid var(--contrast-color);
    color: var(--contrast-color);
    background: none;
}
