.ArticlesRepositoryPage {
    display: flex;
    flex-direction: column;
}

.Collection {
    margin: 30px;
}

.Header {
    margin: 30px;
    display: flex;
    flex-direction: row;
}

.ViewSelector {
    margin: 0 30px;
}