.CommentCard {
    padding: 10px 30px;
    border: 1px solid var(--contrast-color);
}

.Header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.HeaderAvatar {
    margin-right: 15px;
}