.app_dark_theme {
    --bg-color: #0d0d57;
    --bg-color-inverted: #cdcde2;
    --primary-color: rgb(22 116 22);
    --secondary-color: rgb(42 212 42);
    --contrast-color: rgb(255 0 191);
    --primary-color-inverted: rgb(15 14 125);
    --secondary-color-inverted: rgb(25 20 181);
    --skeleton-shadow: #1515ad;
    --skeleton-color: #2b2be8;

    // Code
    --code-bg-color: #595997;
}
