.app_light_theme {
    --bg-color: #cdcde2;
    --bg-color-inverted: #0d0d57;
    --primary-color: rgb(15 14 125);
    --secondary-color: rgb(25 20 181);
    --contrast-color: rgb(253 123 1);
    --primary-color-inverted: rgb(22 116 22);
    --secondary-color-inverted: rgb(42 212 42);
    --skeleton-shadow: #fff;
    --skeleton-color: rgba(0 0 0 / 20%);

    // Code
    --code-bg-color: #e4e4f0;
}
