.AppLink {
    margin: 0 10px;

    &:hover {
        opacity: 0.8;
    }
}

.Primary {
    color: var(--primary-color-inverted);
}

.Secondary {
    color: var(--secondary-color-inverted);
}

.Contrast {
    color: var(--contrast-color);
}
