.Primary {
    color: var(--primary-color-inverted);
}

.Secondary {
    color: var(--secondary-color-inverted);
}

.Contrast {
    color: var(--contrast-color);
}

.Clear {
    text-decoration: none;
}
